@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;700&display=swap');
* {
    font-family: 'Raleway', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1, h2, span {
    text-align: center;
    line-height: 1.25;
}

h1 {
   font-size: 30px; 
   color: white;
}

p {
    font-size: 15px;
}

li {
    list-style-type: none;
    font-size: 25px;
    white-space: normal;
}

html {
    height: 100%;
}

body { 
    height: 100%;
    background-color: #212324;
    background-size:cover;
}

.flex-1 {
    flex: 1;
}

.flex {
    display: flex;
}

.row {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.text--purple {
    color: rgb(190, 190, 255);
}

.text--white {
    color: white;
}

.text--heading {
    color: rgb(230, 230, 247);
}

.short-text{
    display: none;
}

.shorter-text{
    display: none;
}

/* title text mobile */
.Title {
    color: rgb(230, 230, 247);
    background-image: linear-gradient(#3200d3, #5a2ee0);
    display: none;
    align-items: center;
    justify-content: center;
    height: 60px;
    border-bottom: solid;
    border-top: solid;
    border-color: black;
}

/* nav mobile #5a2ee0)*/

nav-mobile {
    height: 60px;
    width: 100%;
    max-width: 100%;
    display: none;
    align-items: center;
    justify-content: center;    
    background-color: #3200d3;
    transition: all 200ms ease;
    border-bottom: black solid;

}

.nav__link--list {
    display: flex;
    transition: all 200ms ease;
    align-items: center;
    justify-content: center;
}

.nav__link--anchor {
    margin: 0 12px;
    text-decoration: none;
    font-weight: 700;
    justify-content: center;
    align-items: center;
}

.nav__link--anchor-primary {
    transition: all 200ms ease;
    justify-content: center;
    align-items: center;
}

.nav__link--anchor-primary:hover {
    background-color: #2d4772;
}

.Logo {
    font-size: 30px;
    margin: 0 20px;
    align-items: center;
    transition: all 200ms ease;
}

/* gitlink */
gitlink {
    height: 60px;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: #3200d3;    
    transition: all 100ms ease;
}


/*nav bar*/
nav {
    height: 100px;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(#3200d3, #5a2ee0);
    transition: all 100ms ease;
}

.text--header {
    color: rgb(230, 230, 247);
}

.short-text {
    color: rgb(230, 230, 247);
}   

.shorter-text {
    color: rgb(230, 230, 247);
}

.nav__link--list {
    display: flex;
    transition: all 100
    ms ease;
}

.nav__link--anchor {
    margin: 0 20px;
    text-decoration: none;
    font-weight: 700;
}

.nav__link--anchor-primary {
    color: rgb(190, 190, 255);
    transition: all 200ms ease;
    border-style: solid;
    padding: 3px 6px;
    border-radius: 20px;
}

.nav__link--anchor-primary:hover {
    padding: 6px 12px;
    background-color: #0d0035;
    border-radius: 40px;
    font-weight: 700;

}

.Logo {
    font-size: 30px;
    margin: 0 40px;
    align-items: center;
    transition: all 200ms ease;
}


/* About section */
#about-me {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.about-me__info--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.picture {
    width: 154.63px;
    height: 154.63px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 8px 16px rgba(0,0,0.16)
}

.about-me__picture {
    width: 100%;
}

.aboutmetitle {
    padding-top: 30px;
}

/* PROJECT section */
#project__info--container {
    min-height: 100vh;
    display: none;
    flex-direction: column;
}

.project-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}


/* contact section */
#contact-list-section {
    height: 300px;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(	#39ace7, #0784b5);
    border:5px black;
    border-style: solid;
    transition: all 200ms ease;
}

.contact__link--list {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 100%;
}

.contact__link--anchor-primary {
    color: black;
    transition: all 200ms ease;
}

.contact__link--anchor-primary:hover {
    color: black;
}

.contact__link--anchor {
    margin: 0 12px;
    text-decoration: none;
    font-weight: 700;
}

@media (max-width: 900px) {
    .paragraph {
        max-width: 700px;
        transition: all 200ms ease;
    }
    
    .nav__link--anchor-primary {
        color: rgb(199, 199, 255);
        transition: all 200ms ease;
    }
    
    .nav__link--anchor-primary:hover {
        color: black;
    }
}

@media (max-width: 818px) {
    .paragraph {
        max-width: 600px;
    }

    .nav__link--anchor-primary {
        color: rgb(199, 199, 255);
        transition: all 200ms ease;
    }
    
    .nav__link--anchor-primary:hover {
        color: black;
    }
}

@media (max-width: 700px) {
    .Title {
        display: flex;
    }

    .paragraph {
        max-width: 500px;
    }
    
    .nav__link--anchor-primary {
        color: rgb(199, 199, 255);
        transition: all 200ms ease;
    }
    
    .nav__link--anchor-primary:hover {
        color: black;
    }


    .shorter-text{
        display: none;
    } 

}

@media (max-width: 700px) {
    .short-text{
        display: none;
    }  

    .shorter-text{
        display: none;
    } 

    .text--header {
        display: none;
    }

}

@media (max-width: 700px) {

    nav {
        display: none;
    }

    .nav__link--anchor {
        margin: 1 auto;
        text-decoration: none;
        font-weight: 700;
        margin: 0 10px;
    }

    nav-mobile {
        display: flex;
    }
    project__info--container {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }

    .paragraph {
        max-width: 450px;
        font-size: 25px;
    }

    gitlink {
        display: flex;
    }

}