@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');
* {
    font-family: 'lato', 'sans-serif';
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1, h2, span {
    text-align: center;
    line-height: 1.25;
}

p {
    font-size: 15px;
}

li {
    list-style-type: none;
    font-size: 25px;
    margin

}

html {
    height: 100%;
}

body { 
    height: 100%;
    /* background-image: url("circut.jpg"); */
    background-color: #e1d0bc;
    background-size:cover;
}


/*nav bar*/
nav {
    height: 100px;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #c9a88d;
    border:5px black;
    border-style: solid;
}

@media only screen and (max-width: 700px){
    .nav__link--anchor-primary {
        background-color: #fbeddb;
        padding: 16px 40px;
        border-radius: 50px;
        color: black;
        transition: all 300ms ease;
    }

    .nav__link--anchor-primary:hover {
        padding: 19px 47px;
        font-size: 22px;
        background-color: #2d4772;
    }
}

.nav__link--list {
    display: flex;
}

.nav__link--anchor {
    margin: 0 12px;
    text-decoration: none;
    font-weight: 700;
}

.nav__link--anchor-primary {
    background-color: #fbeddb;
    padding: 16px 40px;
    border-radius: 50px;
    color: black;
    transition: all 300ms ease;
}

.nav__link--anchor-primary:hover {
    padding: 19px 47px;
    font-size: 22px;
    background-color: #2d4772;
}

.Logo {
    font-size: 30px;
    margin: 0 20px;
}