@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');
* {
    font-family: 'lato', 'sans-serif';
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1, h2, span {
    text-align: center;
    line-height: 1.25;
}

h1 {
   font-size: 30px; 
}

p {
    font-size: 15px;
}

li {
    list-style-type: none;
    font-size: 25px;
    margin

}

html {
    height: 100%;
}

body { 
    height: 100%;
    /* background-image: url("circut.jpg"); */
    background-color: #e1d0bc;
    background-size:cover;
}

.flex-1 {
    flex: 1;
}

.flex {
    display: flex;
}

.row {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.text--purple {
    color: purple;
}


/*nav bar*/
nav {
    height: 100px;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #c9a88d;
    border:5px black;
    border-style: solid;
    transition: all 200ms ease;

}

.nav__link--list {
    display: flex;
    transition: all 200ms ease;
}

.nav__link--anchor {
    margin: 0 12px;
    text-decoration: none;
    font-weight: 700;
}

.nav__link--anchor-primary {
    background-color: #fbeddb;
    padding: 16px 40px;
    border-radius: 50px;
    color: black;
    transition: all 200ms ease;
}

.nav__link--anchor-primary:hover {
    padding: 19px 47px;
    font-size: 22px;
    background-color: #2d4772;
}

.Logo {
    font-size: 30px;
    margin: 0 20px;
    align-items: center;
    transition: all 200ms ease;

}


/* About section */
#about-me {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.about-me__info--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}




@media (max-width: 910px) {
    nav {
        height: 100px;
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #c9a88d;
        border:5px black;
        border-style: solid;
        transition: all 200ms ease;
    
    }

    h1 {
        font-size:20px;

    }

    .about-me__info--paragraph {
        font-size: 15px;
    }

    .nav__link--anchor-primary {
        background-color: #fbeddb;
        padding: 8px 20px;
        border-radius: 50px;
        color: black;
        transition: all 200ms ease;
    }

    .nav__link--anchor-primary:hover {
        padding: 10px 25px;
        font-size: 22px;
        background-color: #2d4772;
    }
}

@media (max-width: 640px) {
    nav {
        height: 100px;
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #c9a88d;
        border:5px black;
        border-style: solid;
        transition: all 200ms ease;
    
    }

    h1 {
        font-size:15px;

    }

    .about-me__info--paragraph {
        font-size: 10px;
    }

    .nav__link--anchor-primary {
        background-color: #fbeddb;
        padding: 8px 20px;
        border-radius: 50px;
        font-size: 15px;
        color: black;
        transition: all 200ms ease;
    }

    .nav__link--anchor-primary:hover {
        padding: 10px 25px;
        font-size: 22px;
        background-color: #2d4772;
    }
}

@media (max-width: 500px) {
    nav {
        height: 60px;
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #c9a88d;
        border:5px black;
        border-style: solid;
        transition: all 200ms ease;
    
    }

    h1 {
        font-size:15px;

    }

    .about-me__info--paragraph {
        font-size: 10px;
    }

    .nav__link--anchor-primary {
        background-color: #fbeddb;
        padding: 8px 20px;
        border-radius: 50px;
        font-size: 15px;
        color: black;
        transition: all 200ms ease;
    }

    .nav__link--anchor-primary:hover {
        padding: 10px 25px;
        font-size: 22px;
        background-color: #2d4772;
    }
}