@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');
* {
    font-family: 'lato', 'sans-serif';
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1, h2, span {
    text-align: center;
    line-height: 1.25;
}

h1 {
   font-size: 30px; 
}

p {
    font-size: 15px;
}

li {
    list-style-type: none;
    font-size: 25px;
    margin

}

html {
    height: 100%;
}

body { 
    height: 100%;
    background-color: #e1d0bc;
    background-size:cover;
}

.flex-1 {
    flex: 1;
}

.flex {
    display: flex;
}

.row {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.text--purple {
    color: purple;
}


/*nav bar*/
nav {
    height: 100px;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #c9a88d;
    border:5px black;
    border-style: solid;
    transition: all 200ms ease;
}

.nav__link--list {
    display: flex;
    transition: all 200ms ease;
}

.nav__link--anchor {
    margin: 0 12px;
    text-decoration: none;
    font-weight: 700;
}

.nav__link--anchor-primary {
    background-color: #fbeddb;
    padding: 13px 35px;
    border-radius: 50px;
    color: black;
    transition: all 200ms ease;
}

.nav__link--anchor-primary:hover {
    padding: 19px 47px;
    background-color: #2d4772;
}

.Logo {
    font-size: 30px;
    margin: 0 20px;
    align-items: center;
    transition: all 200ms ease;
}


/* About section */
#about-me {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.about-me__info--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 8px 16px rgba(0,0,0.16)
}

.about-me__picture {
    width: 100%;
}

.aboutmetitle {
    padding-top: 20px;
}


@media (max-width: 900px) {
    .paragraph {
        max-width: 700px;
    }

    .text--header {
        font-size: 27px;
        transition: all 200ms ease;
    }
    
    .nav__link--anchor-primary {
        background-color: #fbeddb;
        padding: 10px 30px;
        border-radius: 50px;
        color: black;
        transition: all 200ms ease;
    }
    
    .nav__link--anchor-primary:hover {
        padding: 15px 45px;
        background-color: #2d4772;
    }
}

@media (max-width: 800px) {
    .paragraph {
        max-width: 600px;
    }

    .text--header {
        font-size: 25px;
        transition: all 200ms ease;
    }
    
    .nav__link--anchor-primary {
        background-color: #fbeddb;
        padding: 8px 26px;
        border-radius: 50px;
        color: black;
        transition: all 200ms ease;
    }
    
    .nav__link--anchor-primary:hover {
        padding: 13px 39px;
        background-color: #2d4772;
    }
}

@media (max-width: 700px) {
    .paragraph {
        max-width: 500px;
    }

    .text--header {
        font-size: 23px;
        transition: all 200ms ease;
    }
    
    .nav__link--anchor-primary {
        background-color: #fbeddb;
        padding: 6px 18px;
        border-radius: 50px;
        color: black;
        transition: all 200ms ease;
    }
    
    .nav__link--anchor-primary:hover {
        padding: 11px 33px;
        background-color: #2d4772;
    }
}

@media (max-width: 600px) {
    
}

@media (max-width: 500px) {
    
}

@media (max-width: 400px) {
  
}

@media (max-width: 300px) {
  
}