:root {
    --main-bg-color: rgb(40, 33, 33);
    --board-bg-color: rgb(57, 57, 66);
    --sidebar-bg-color: rgb(57, 57, 66);
    --accent-color: rgb(94, 130, 180);
    --text-color: rgb(255, 255, 255);
    --muted-text-color: rgb(150, 150, 150);
    --border-color: rgb(100, 100, 100);
    --gap-small: 0.5rem;
    --gap-medium: 1rem;
    --gap-large: 2rem;
    --font-size-base: 1rem;
    --border-radius: 0.5rem;
    --nav-bg-color: rgb(44, 44, 56);
    --button-color: rgb(171, 171, 214);
}

h1 {
    margin: 0;
    font-size: 1.5rem;
}

h2 {
    margin: 0;
    font-size: 1.2rem;
}

body {
    background-color: var(--main-bg-color);
    color: var(--text-color);
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    font-size: var(--font-size-base);
}

.main-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: var(--gap-large);
    gap: var(--gap-medium);
    height: 80vh;
}

button{
    background-color: var(--button-color);
    max-width: 387.2px;
    height: 35px;
    width: 90px;
}

.nav-title-container {
    display: flex; 
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

#board {
    flex: 2;
    background-color: var(--board-bg-color);
    padding: var(--gap-medium);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    font-size: 1.5rem;
    border: 1px rgb(80, 80, 80) solid;
    max-height: 33vw;
    max-width: 33vw;
    min-width: 406px;
    min-height: 406px;
    box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.9); /* Add shadow to all sides to create an outset effect */

}

#init-game-content {
    display: flex;
    flex-direction: column;
    width: auto;
}

.initialization-content {
    margin-top: 40px;
    margin-bottom: 5px;
}

.sidebar {
    flex: 1;
    background-color: var(--sidebar-bg-color);
    padding: var(--gap-medium);
    display: flex;
    flex-direction: column;
    gap: var(--gap-medium);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    height: auto;
    border: 1px rgb(80, 80, 80) solid;
    margin-bottom: 40px;
    max-width: 400px; 
}

.sidebar-title h2 {
    color: var(--accent-color);
    margin: 0;
    font-size: 1.5rem;
}

.sidebar-content {
    display: flex;
    flex-direction: column;
    gap: var(--gap-medium);
}

.sidebar-content-element h3 {
    margin: 0;
    color: var(--text-color);
    font-size: 1.2rem;
}

.sidebar-content-element p {
    margin: 0.2rem 0;
    color: var(--muted-text-color);
    font-size: 1rem;
}

#move-list {
    display: flex; 
    flex-direction: row;
}

#chat {
    width: 200px;
    height: 300px;
    border: 1px solid #000000;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    height: 250px;
}
#chat-window {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    background-color: var(--nav-bg-color);
}
#chat-messages {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 11px;
}
#chat-messages li {
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 4px;
}
#chat-messages .w {
    background-color: #3e6679;
    text-align: left;
}
#chat-messages .b {
    background-color: #c43a3a;
    text-align: right;
}
#chat-input {
    display: flex;
    padding: 5px;
}
#message-input {
    flex: 1;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 140px;
    font-size: 11px;
    margin-bottom: 0px; 
}
#send-message {
    padding: 5px 10px;
    margin-left: 5px;
    background-color: #0288d1;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.nav-element {
    background-color: var(--nav-bg-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: var(--gap-large);
    padding-right: var(--gap-large);
    flex-wrap: wrap;
    border-bottom: 1px rgb(80, 80, 80) solid;
    height: 62px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

.nav-button-container {
    display: flex;
    flex-direction: row;
    gap: var(--gap-large);
}

.nav-button-container button {
    background-color: rgb(44, 44, 56);
    color: white;
    border: 1px solid white;
    font-size: 13px;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
    width: 125px;
}

.nav-button-container button:hover {
    background-color: #ffffff;
    color: black;
}

input {
    max-width: 275px;
    padding: 0.5rem;
    border: 1px solid var(--border-color);
    border-radius: 0;
    font-size: var(--font-size-base);
    color: var(--text-color);
    background-color: white;
    margin-bottom: var(--gap-small);
    color: black;

}

.highlight-legal {
    box-shadow: inset 0 0 3px 3px green;
}

@media (max-width: 690px) {
    .main-content {
        flex-direction: column;
        padding: 0.35em;
        padding-top: 1em;
        height: auto;
    }

    #board {
        max-height: 89vw;
        min-height: 89vw;
        max-width: 89.1vw;
        min-width: 89.1vw;
    }

    .sidebar {
        max-width: 89.1vw;
        min-width: 89.1vw;
    }

    #init-game-content {
        display: flex;
        flex-direction: column;
        width: 75vw;
    }

    #chat {
        width: 89.1vw;
    }
}