@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
* {
    font-family: 'Raleway', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
}

button {
    font-family: 'Raleway', sans-serif;
    background-color: #013e46;
    padding: 5px 10px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.25s;
    display: flex;
    justify-content: space-between;
    gap: 5px;
    align-items: center;
    border: rgba(0, 239, 248, 0.207) 2px solid;
    box-shadow: #1de6f6 0px 0px 3px;   
}

button:hover {
    font-family: 'Raleway', sans-serif;
    background-color: #72c0cc;
    padding: 5px 10px;
    color: rgb(0, 0, 0);
}


.hidden-left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.right_arrow {
    display: block;
    font-size: 30px;
}

.down_arrow {
    font-size: 30px;
}

.slide-up {
    opacity: 0;
    transform: translateY(100%);
    transition: all 0.75s;
}

.slide-up.show {
    opacity: 1;
    transform: translateY(0);
}


.blurred {
    filter: blur(1px);
    transition: all 0.5s;
}

.show {
    opacity: 1;
    filter: blur(0px);    
    transform: translateX(0);
}

.contact-body {
    height: 100vh;
}

h1, h2, span {
    line-height: 1.25;
    font-weight: normal;
}

h2 {
    font-size: 22px;
    color: #f0f0f0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    border-bottom: #585858 2px solid;
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

h1 {
   font-size: 28px; 
   color: white;
}

p {
    color: rgb(255, 255, 255);
    font-size: 16px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

li {
    list-style-type: none;
    font-size: 22px;
    white-space: normal;
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    background-color: rgb(30, 29, 33);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    overflow-y: auto;
    position: relative; 
    overflow-x: hidden;
}

.project-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.nav-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-button {
    margin-right: 30px;
    font-size: 19px;
    height: 35px;
}


.flex-1 {
    flex: 1;
}

.flex {
    display: flex;
}

.row {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

body::-webkit-scrollbar {
    width: 7px;
}

body::-webkit-scrollbar-track {
    background: #000000;
    border-left: rgb(101, 101, 101) 1px solid;
    border-right: rgb(101, 101, 101) 1px solid;
}

body::-webkit-scrollbar-thumb {
    background: rgb(255, 255, 255);
    border-radius: 20px;
}

.text--red {
    font-size: 125%;
    color: red;
}

.text--heading {
    color: rgb(255, 255, 255);
    opacity: 92%;
}

.Logo .text--heading {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.short-text{
    display: none;
}

.shorter-text{
    display: none;
}

.footer-text {
    justify-content: center;
    justify-self: center;
    align-items: center;
    align-self: center;
}

.copyright-text {
    color: rgb(255, 255, 255);
    opacity: 92%;
    font-size: 15px;
    text-align: center;
}

/* title text mobile */
.Title {
    color: rgb(255, 156, 156);
    background-image: linear-gradient(#492da6, #201248);
    display: none;
    align-items: center;
    justify-content: center;
    height: 60px;
    border-bottom: solid;
    border-top: solid;
    border-color: black;
}

/* nav mobile #5a2ee0)*/
.backholder {
    margin-left: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
}

/* Sticky navbar styles for non-mobile */
nav.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Ensure the navbar appears on top of other content */
}

/* linear-gradient(#3200d3, #5a2ee0) */
/* Other existing navbar styles for non-mobile */
nav {
    position: sticky;
    top:0;
    z-index: 1000;
    height: 62px; /* Adjust the height of the navbar as needed */
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-image: linear-gradient(#592626, #3f092c); */
    background-color: rgb(44, 44, 56);
    transition: all 100ms ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.95); /* Add white box shadow */
    border-bottom: 1px rgb(80, 80, 80) solid;
}

/* Sticky navbar styles for mobile */
nav-mobile.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Ensure the navbar appears on top of other content */
}

/* Other existing navbar styles for mobile */
nav-mobile {
    position: sticky;
    top: 0;
    z-index: 9999;
    height: 62px;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  
    background-color: rgb(44, 44, 56);
    transition: all 100ms ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.95);
    border-bottom: 1px rgb(56, 56, 56) solid;
}


.nav__link--list {
    display: flex;
    transition: all 200ms ease;
    align-items: center;
    justify-content: space-evenly;
}

.nav__link--anchor {
    margin: 0 12px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}

.nav__link--anchor-primary {
    transition: all 200ms ease;
    justify-content: center;
    align-items: center;
}

.nav__link--anchor-primary:hover {
    background: #2c2c2c;
    color: rgb(255, 156, 156);
}

.nav__link--anchor-primary:hover .text--heading{
    transition: all 200ms ease;
    color: rgb(255, 156, 156);
    background: #2c2c2c;
    /* border: 2px solid rgb(151, 193, 240); */
}

/* gitlink */
.gitlink {
    height: 60px;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: #3200d3;    
    transition: all 100ms ease;
}


/*nav bar*/
.text--header {
    color: rgb(230, 230, 247);
    display: flex;
    justify-content: center;
    align-items: center;
}

.short-text {
    color: rgb(230, 230, 247);
}   

.shorter-text {
    color: rgb(230, 230, 247);
}

.nav__link--list {
    display: flex;
    transition: all 100
    ms ease;
}

.nav__link--anchor {
    margin: 0 20px;
    text-decoration: none;
}

.nav__link--anchor-primary {
    color: rgb(201, 201, 201);
    transition: all 200ms ease;
    border: 2px solid;
    padding: 3px 20px;
    border-radius: 9px;
}

.Logo {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 100ms ease-in-out;
}

.Logo a {
    font-size: 35px;
    align-items: center;
    transition: all 100ms ease-in-out;
    text-decoration: none;
}

.Logo:hover {
    transition: all 110ms ease-in-out;
}

.Logo:not(:hover) {
    transform: scale(1.0);
    transition: all 110ms ease-in-out;
}

.Logo:hover .text--heading {
    color: rgb(42, 170, 221);
    transition: color 100ms ease-in-out;
}

.Logo:not(:hover) .text--heading {
    color: white;
    transition: color 100ms ease-in-out;
}

/* About section */
.bigger-text {
    font-size: 50px;
}

#about-me {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.about-me__info--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 60px;
    max-width: 800px;
}

.picture {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 8px 16px rgba(0,0,0.12)
}

.about-me__picture {
    width: 100%;
    justify-self: center;
    align-self: center;
}

.about-me__picture-brand {
    width: 80px;
    height: 80px;
}

.about-me__picture-brand:hover {
    transform: scale(1.05);
}

.aboutmetitle {
    padding-top: 15px;
    padding-bottom: 15px;
}

/* PROJECT section */
.project_section {
    display: flex;
    flex-direction: column;
    background: rgba(24, 22, 22, 0.72);
    padding: 50px;
    margin-top: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9); /* Add white box shadow */
    width:100%;
    height: auto;
    gap: 20px;
    justify-self: center;
}


.project-title {
    display: flex;
    padding: 10px;
    padding-left: 0;
    border-bottom: #1a1a1a 3px solid;
    flex-direction: column;
    justify-content: flex-start;
    border-bottom: #585858 3px solid;
    width: 300px;
}

.project_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 15px;
    padding-bottom: 30px;
    width: 300px;
}

.grey-container {
    background: #2f2d2d;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.85); /* Add white box shadow */
    padding: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.project_accordion {
    margin: 50px 150px 75px 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    justify-content: center;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    gap: 50px;
}

.project-expandable::-webkit-scrollbar {
    height: 0px;
    width: 0px;
    border-radius: 20px;
}

.project_accordion .project_container .project-expandable {
    transform: translateX(1px);
    background: #242424;
    max-height: 1000px;
    overflow: hidden;
    overflow-y: auto;
    max-width: 1300px;
    width: 69.8vw;
    transition: max-height 0.5s ease-in-out, padding 0.5s ease-in-out, border-width 0.5s ease-in-out;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project_accordion .project_container:not(.active) .project-expandable {
    max-height: 0; /* Set maximum height to 0 when not active */
    padding: 0; /* Remove padding when collapsed */
    border-width: 0; /* Remove border when collapsed */
}

.project_accordion .project_container.active .project-expandable {
    padding: 25px; /* Add padding when expanded */
    cursor: pointer;
    border-width: 0 2px 2px 2px; /* Remove top border */
    border-style: solid; /* Specify border style for each side */
    border-color: transparent rgb(76, 76, 76) rgb(76, 76, 76) rgb(76, 76, 76); /* Specify border color for each side */
    border-radius: 0 0 10px 10px; /* Rounded only bottom left and right corners */
}

.project_accordion .project_container.active .project {
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.16);
    border-radius: 10px 10px 0 0;
}

/* when individual projects are hovered, they will expand slightly and the 
"Find out more" section will expand to indicate to users that they can 
interact */
/* background-image: linear-gradient(#492da6, #201248); */
.project {
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding: 12.5px;
    background-image: linear-gradient(#4c2525, #340d27);
    max-width: 450px;
    width: 70vw;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    border: 2px solid rgb(53, 53, 53);
}

.project:hover {
    transition: all 200ms ease;
    cursor: pointer;
    border: 2px solid rgb(197, 75, 75);
}

.project:not(:hover) {
    transition: all 200ms ease;
    transform: scale(1.00);
}

.project_expansion-more {
    color: white;
}

.project:hover .project_expansion-more {
    color: black;
    transition: all 200ms ease;
    transform: scale(1.3);
}

.project:not(:hover) .project_expansion-more {
    color: white;
    transition: all 200ms ease;
    transform: scale(1.0);
}

.project .project_descriptor_box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    height: 100%;
    padding-left: 80px;
    padding-right: 80px;
    align-items: center; /* Add this line to center content vertically */
    padding-top: 15px;
    padding-bottom: 15px;
}

.project_expansion {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    font-size: 150%;
    color: black;
    margin-right: 30px;
}

.project_expansion p {
    font-size: 15px;
    margin-left: 5px;
}

.left-right-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-self: center;
    align-items: center;
    width: 100%;
    gap: 20px;
}

.project_left {
    display: flex;
    flex: 0 0 50%;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.project_left > *:first-child {
    flex: 4;
    border: 3px solid rgb(135, 91, 91);
    border-radius: 10px;
}

.project_left > *:last-child {
    flex: 6; 
}

.align-project-text {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Horizontally center the content */
    align-items: center; /* Vertically center the content */
}
.align-project-text p {
    display: flex;
    justify-content: left; /* Horizontally center the content */
    align-items: center; /* Vertically center the content */
    color: white;
    font-size: 18px;
}

.project_right {
    display: flex;
    flex: 0 0 50%;
    justify-content: space-evenly;
    align-items: center;
}

.project-expandable_photo {
    margin-top: 20px;
    max-width: 350px;
    max-height: 350px;  
}

.media_scroller {
    max-height: 320px; 
    max-width: 400px;
    display: flex;
    overflow-x: auto;
    gap: 10px;
}   

.media_scroller::-webkit-scrollbar {
    height: 8px;
}

.media_scroller::-webkit-scrollbar-track {
    background: #33193c;
}

.media_scroller::-webkit-scrollbar-thumb {
    background: rgb(255, 255, 255);
    border-radius: 99px;
}

.ProjectPhoto-1 {
    width: 60vw;
    max-width: 678px;
    border: 1px solid rgb(193, 193, 193);
    max-height: 600px;
    align-self: center;
    justify-self: center;
    margin: 0 auto; /* Add this line to center the element horizontally */
    margin-bottom: 20px;
}

/* links section */

.footer {
    display: flex;
    justify-content: center;
    /* background-image: linear-gradient(#592626, #3f092c); */
    background-color: rgb(44, 44, 56);
    box-shadow: 10px 8px 16px rgba(0,0,0.96);
    border-top: 1px rgb(87, 87, 87) solid;
    gap: 40px;
    height: 35px;
}

.social-media-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.social-media-icon {
    margin-top: 7px;
    width:  27px;
    height: 27px;
    transition: all 100ms ease;
    filter: invert(100%);
}

.social-media-icon-small {
    margin-top: 5px;
    width:  22px;
    height: 22px;
    transition: all 100ms ease;
    filter: invert(100%);
}

.social-media-icon:hover {
    transform: scale(1.2);
    color: black;
}

.social-media-icon-small:hover {
    transform: scale(1.2);
    color: black;
}
.move-left {
    margin-right: 0px;
}

/* contact page */
.input-group input,
.input-group textarea,
.submission_group button {
    touch-action: manipulation; /* Prevent zooming on touch devices */
}

.contact-gap-box {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Add a gap of 50px between children */
}

.contact-gap-box .input-group,
.contact-gap-box .submission_group {
    width: 100%; /* Ensure children take full width */
}

.input-group {
    position: relative;
    width: 100%;
}

.input_label {
    position: absolute;
    top: 20px;
    left: 15px;
    color: #999999;
    pointer-events: none;
    transition: 0.3s ease;
    font-size: 0.8em;
    padding: 5px;
}

.contact_label {
    background-color: #2c2c2c; /* Use the desired shade of grey */
    outline: 0;
    width: 100%;
    font-size: 15px;
    transition: 0.3s ease;
    max-width: 600px;
    font-size: 14px;
}

.input_label {
    display: block;
    position: absolute;
    top: 0;
    left: 10px;
    padding: 5px;
    font-size: 1em;
    color: #999999;
    text-transform: uppercase;
    transition: 0.3s ease;
}

.contact_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 50px auto; /* Center horizontally */
    background: rgb(64, 64, 72);
    margin-bottom: 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.85); /* Add white box shadow */
    width: 0 auto;
    justify-self: center;
    align-self: center;
    max-height: 570px;
    width: 475px;
    max-width: 95%;
    padding: 10px 10px;
}

input, textarea{
    width: 100%;
    padding: 10px;
    outline: 0;
    color: #fff;
    margin: 5px 0px 0px 0px;
    resize: none;
    border-radius: 5px;
    /* background: linear-gradient(#303133, #303133) padding-box, linear-gradient(90deg, #ed6e61, #6359e1) border-box; */
    border: 2px solid rgb(88, 88, 103);
}

#contactForm {
    max-width: 450px;
    max-height: 350px; 
}

.identifiers {
    max-width: 450px;;
}

form {
    align-items: center;
}

input::placeholder {
    color: #e4e4e4;
    font-size: 14px;
}

textarea::placeholder {
    color: #e4e4e4;
    font-size: 14px;
}

.submission_group{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 0px;
}

.status_box {
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: left;
    gap: 10px;
}

.status_box_holder {
    background-color: #424242;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid rgb(99, 99, 99);
}

.status_box_holder > *:first-child {
    margin-bottom: 10px;
    gap: 44px;
}

.identifiers {
    margin-top: 10px;
    display: flex;
    flex-direction: row; /* Ensures items are laid out horizontally */
    align-items: center; /* Centers items vertically */
    justify-content: space-between;
    width: 600px;
    gap: 20px;
    height: 100%; /* Adjusted to ensure the container takes up full height */
}

.statusDot {
    font-size: 27.5px;
    margin-bottom: 3px;
}

.pixel_art-gif {
    max-width: 70px;
}

input:-webkit-autofill {
    background-color: transparent;
}

.description_photos-container {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    height: auto;
}

.description_photos-center {
    border: 2px solid black; /* Add white border */
    border-radius: 10px; /* Make the border rounded */
    padding: 20px; /* Add padding for space between border and content */
    background: rgb(41, 41, 41);
}

.description_photos-center > div:not(:last-child) {
    margin-bottom: 10px; /* Adjust the value as needed */
}

.description_photo1 {
    max-width: 400px;
    width: 22.5vw;
    display: block;
    margin: auto;
    position: relative;
}

.description_photo2 {
    width: 22.5vw;
    display: block;
    margin: auto;
    position: relative;
}

.Gapdiv1 {
    height: 10px;
}

.description_photos-center p {
    text-align: center;    
}

.Contact_Description {
    margin-top: 50px;
}

.text--white {
    font-size: 21px;
    color: white;
    opacity: 96%;
    text-align: left;
    justify-self: center;
    align-self: center;
}

.left-right-container .text--white {
    color: white;
    opacity: 92%;
    text-align: left;
    font-size: 20px;
}

.description_photos-container p {
    color: white;
}

.description_photos-container h1 {
    color: white;
}

.project_accordion .project_container .project .indicators {
    position: relative;
}

.project_accordion .project_container .project .indicators .open-indicator,
.project_accordion .project_container .project .indicators .close-indicator {
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-70%, -50%);
    display: none;
    font-size: 40px; /* Adjust font size as needed */
}

.project_accordion .project_container.active .project .indicators .close-indicator {
    display: block;
}

.project_accordion .project_container:not(.active) .project .indicators .open-indicator {
    display: block;
}

.project_accordion .project_container.active .project .indicators .open-indicator {
    display: none;
}

.paragraph {
    margin-left: 1vw;
    margin-right: 1vw;
}

.button_top:hover {
    text-decoration: none;
}

@media (max-width: 1000px) {
    .paragraph {
        max-width: 700px;
        transition: all 200ms ease;
    }
    
    .nav__link--anchor-primary {
        color: rgb(255, 255, 255);
        transition: all 200ms ease;
    }
    
    .nav__link--anchor-primary:hover {
        color: black;
    }
}

@media (max-width: 1000px) {
    .paragraph {
        max-width: 600px;
    }

    .nav__link--anchor-primary {
        color: rgb(199, 199, 255);
        transition: all 200ms ease;
    }
    
    .nav__link--anchor-primary:hover {
        color: black;
    }
}

@media (max-width: 1000px) {
    .image_container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .p {
        font-size: 0%;
    }

    h1 {
        font-size: 2;
    }

    .Title-name {
        display: flex;
    }

    .paragraph {
        max-width: 500px;
    }
    
    .nav__link--anchor-primary {
        color: rgb(255, 255, 255);
        transition: all 200ms ease;
    }
    
    .nav__link--anchor-primary:hover {
        color: black;
    }


    .shorter-text{
        display: none;
    } 

    .short-text{
        display: none;
    }  

    .shorter-text{
        display: none;
    } 

    .text--header {
        display: none;
    }

    nav {
        display: none;
    }

    .nav__link--anchor {
        margin: 1 auto;
        text-decoration: none;
        margin: 0 10px;
    }

    nav-mobile {
        display: flex;
    }

    .project {
        display: space-evenly;
        flex-direction: column;
        max-height: fit-content;
    }

    .left-right-container {
        display: block;
    }

    .project_left {
        display: block;
    }

    .project_right {
        display: block;
    }

    h1 {
        font-size: 23px; 
    }

    .paragraph {
        font-size: 20px;
    }

    .identifiers {
        flex-direction: column;
        max-width: 296px;
    }

    .message {
        max-width: 250px;
    }

    .move-left {
        display: flex;
        flex-direction: column; /* Display items in a column */
        justify-content: center; /* Center items horizontally */
        align-items: center; /* Center items vertically */
    }

    .project_expansion {
        margin-right: 0px;
    }

    .project .project_descriptor_box {
        width: auto;
        height: auto;
        flex-direction: column;
    }

    body {
        height: auto;
    }

    .Contact_Description .project_accordion .project_container .project,
    .Contact_Description .project_accordion .project_container{
        width: 72.5vw;
        max-width: 70vw;
        min-width: 67.5vw;
        transition: 0s;
    }

    .Contact_Description .project_accordion .project_container .project-expandable {
        width: 70vw;
        max-width: 70vw;
        min-width: 65vw;
    }

    .description_photo1 {
        min-width: 35vw;
        width: 40vw;
        max-width: 41vw;
    }

    .ProjectPhoto-1 {
        width: 350px;
    }

    .project-expandable_photo {
        width: 350px;
    }

    .project_left {
        max-height: 80px;
    }

    .text--purple {
        font-size: 25px;
    }

    .grey-container {
        margin-left: 4vw;
        margin-right: 4vw;
    }

    .right_arrow {
        display: none;
    }

    .contact_container {
        margin: 90px auto; /* Center horizontally */
        padding-bottom: 30px;
        padding: 10px;
        margin-top: 50px;
        margin-bottom: 200px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.8); /* Add white box shadow */
        padding-top: 30px;
        width: 0 auto;
    }

    .social-media-icon {
        width:  25px;
        height: 25px;
    }
}

a:-webkit-any-link {
    text-decoration: none;
}

.projectSelectionButton {
    align-items: center;
    appearance: none;
    background-color: #924444;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#924444 0 -3px 0 inset;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    height: 30px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 2px;
    padding-right: 2px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
    border: 2px rgb(140, 140, 140)  solid;
    font-family: "Jetbrains Mono", monospace;
}

.projectSelectionButton:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
    background-color: #924444;
}

.projectSelectionButton:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}

.button-container {
    margin-top: 28px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-self: center;
    gap: 20px;
}

@media (max-width: 800px) {
    .button-container {
        flex-direction: column;
        gap: 10px;
    }
}

/* General Popup Styling */
#project-info-popup {
    display: none; /* Start hidden */
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8); /* Semi-transparent overlay */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    color: rgb(223, 223, 223); /* Light grey text */
}

/* Show popup when not hidden */
#project-info-popup:not(.hidden) {
    display: flex;
}

/* Popup content styling */
.popup-content {
    width: 900px;
    height: 300px;
    background: #393939;
    padding: 20px;
    box-shadow: 0 0 10px rgba(114, 113, 113, 0.65); /* Add white box shadow */
    border: rgb(69, 68, 68) 1px solid;
}

.popup-features,
.popup-languages {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
}

#carousel-left, #carousel-right {
    color: rgb(200, 200, 200); /* Light grey */
    cursor: pointer;
}

#close-popup-btn {
    background: #bcbcbc; /* Dark red for close button */
    border: 2px solid #021118; /* Dark red border */
    color: rgb(23, 18, 68);
    padding: 3px 6px;
    border-radius: 4px;
    cursor: pointer;
}

#close-popup-btn:hover {
    background: rgb(197, 75, 75); /* Light red for hover */
}

#project-info-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.popup-content {
    position: relative;
    background-color: rgb(38, 41, 41);
    color: rgb(223, 223, 223);
    width: 1050px;
    height: 550px;
    display: flex;
    padding: 20px;
}

.close-btn {
    position: absolute;
    top: 22px;
    right: 30px;
    font-size: 24px;
    color: rgb(223, 223, 223);
    background: none;
    border: none;
    cursor: pointer;
}

.popup-left, .popup-right {
    width: 50%;
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.popup-left {
    padding-top: 68px;
    margin-top: 0px;
}

.popup-right {
    padding-top: 88px;
    align-items: center; /* Center children horizontally */
    text-align: center; /* Center text inside children */
}

.popup-title {
    color: rgb(143, 141, 210);
    font-size: 30px;
    position: absolute;
    top: 7%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.popup-section-title {
    color: rgb(157, 156, 204);
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.popup-features, .popup-languages {
    list-style: none;
    padding: 0;
    margin: 0;
}

.carousel {
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 25px;
    min-width: 330px;
    min-height: 300px;
}

.carousel-btn {
    font-size: 24px;
    color: rgb(223, 223, 223);
    cursor: pointer;
}

#carousel-image {
    max-width: 375px;
    max-height: 300px;
    min-width: 200px;
    min-height: 200px;
    margin: 0 10px 0 10px;
}

.popup-link {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: rgb(0, 64, 255);
    font-size: 18px;
    text-decoration: none;
    padding: 10px 20px;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 1.1em;
    background-color: rgb(42, 39, 39);
    width: 140px;
    height: 35px;

}
.popup-link:hover {
    background-color: rgb(24, 22, 22);
    border: #1de6f6 2px solid;
}

.hidden {
    display: none !important; /* Ensure hidden means no display */
}

.nav-button {
    box-shadow: none;
}