@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;700&display=swap');
* {
    font-family: 'Raleway', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1, h2, span {
    text-align: center;
    line-height: 1.25;
}

h1 {
   font-size: 27.5px; 
   color: white;
}

p {
    color: rgb(223, 223, 223);
    font-size: 17.5px;
}

li {
    list-style-type: none;
    font-size: 25px;
    white-space: normal;
}

html {
    height: 100%;
}

body { 
    height: 175%;
    background-color: #212324;
    background-size:cover;
}

.flex-1 {
    flex: 1;
}

.flex {
    display: flex;
}

.row {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.text--purple {
    /* font-size: 25px; */
    font-size: 30px;

    color: rgb(190, 190, 255);
}

.text--white {
    color: white;
}

.text--heading {
    color: rgb(230, 230, 247);
}

.short-text{
    display: none;
}

.shorter-text{
    display: none;
}

/* title text mobile */
.Title {
    color: rgb(230, 230, 247);
    background-image: linear-gradient(#3200d3, #5a2ee0);
    display: none;
    align-items: center;
    justify-content: center;
    height: 60px;
    border-bottom: solid;
    border-top: solid;
    border-color: black;
}

/* nav mobile #5a2ee0)*/

nav-mobile {
    height: 60px;
    width: 100%;
    max-width: 100%;
    display: none;
    align-items: center;
    justify-content: center;    
    background-color: #3200d3;
    transition: all 200ms ease;
    box-shadow: 0 8px 16px rgba(0,0,0.16)
}

.nav__link--list {
    display: flex;
    transition: all 200ms ease;
    align-items: center;
    justify-content: center;
}

.nav__link--anchor {
    margin: 0 12px;
    text-decoration: none;
    font-weight: 700;
    justify-content: center;
    align-items: center;
}

.nav__link--anchor-primary {
    transition: all 200ms ease;
    justify-content: center;
    align-items: center;
}

.nav__link--anchor-primary:hover {
    background-color: #2d4772;
}

/* gitlink */
gitlink {
    height: 60px;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: #3200d3;    
    transition: all 100ms ease;
}


/*nav bar*/
nav {
    height: 100px;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(#3200d3, #5a2ee0);
    transition: all 100ms ease;
    box-shadow: 0 8px 16px rgba(0,0,0.16)

}

.text--header {
    color: rgb(230, 230, 247);
}

.short-text {
    color: rgb(230, 230, 247);
}   

.shorter-text {
    color: rgb(230, 230, 247);
}

.nav__link--list {
    display: flex;
    transition: all 100
    ms ease;
}

.nav__link--anchor {
    margin: 0 20px;
    text-decoration: none;
    font-weight: 700;
}

.nav__link--anchor-primary {
    color: rgb(190, 190, 255);
    transition: all 200ms ease;
    border-style: solid;
    padding: 3px 6px;
    border-radius: 20px;
}

.nav__link--anchor-primary:hover {
    padding: 6px 12px;
    background-color: #0d0035;
    border-radius: 40px;
    font-weight: 700;

}

.Logo a {
    font-size: 35px;
    margin: 0 40px;
    align-items: center;
    transition: all 200ms ease;
    text-decoration: none;
}

.Logo:hover {
    transform: scale(1.1);
}

.Logo:hover .text--heading {
    color: black;
    transition: color 100ms ease;
}

/* About section */
#about-me {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.about-me__info--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
    margin-bottom: 10px;
}

.picture {
    width: 154.63px;
    height: 154.63px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 8px 16px rgba(0,0,0.16)
}

.about-me__picture {
    width: 100%;
}

.aboutmetitle {
    padding-top: 30px;
}

/* PROJECT section */
.project-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.AHHHHHHHHHHH {
    margin-top: 25px;
    display:block;
}

.project h1{
    text-align: left;
}

.project_container{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 12.5px;
    background-color: #5a2ee0;
    max-width: 1200px;
    border-radius: 15px;
    margin: 10px auto;
    margin-bottom: 50px;
    box-shadow: 0 8px 16px rgba(0,0,0.16)
}

.project_container:hover {
    transition: all 200ms ease;
    transform: scale(1.05);
    transition: all 200ms ease;
}

.project {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}



/* links section */

.social-media-container {
    display: flex;
    justify-content: space-evenly;
    padding: 12.5px;
    background-color: #5a2ee0;
    max-width: 400px;
    border-radius: 15px;
    margin: 10px auto;
    box-shadow: 0 8px 16px rgba(0,0,0.16)
}

.social-media-icon {
    width: 55px;
    height: 55px;
}

.social-media-icon {
    transition: all 200ms ease;
}

.social-media-icon:hover {
    transform: scale(1.2);
}

.move-left {
    margin-right: 35px;
}


@media (max-width: 900px) {
    .paragraph {
        max-width: 700px;
        transition: all 200ms ease;
    }
    
    .nav__link--anchor-primary {
        color: rgb(199, 199, 255);
        transition: all 200ms ease;
    }
    
    .nav__link--anchor-primary:hover {
        color: black;
    }
}

@media (max-width: 818px) {
    .paragraph {
        max-width: 600px;
    }

    .nav__link--anchor-primary {
        color: rgb(199, 199, 255);
        transition: all 200ms ease;
    }
    
    .nav__link--anchor-primary:hover {
        color: black;
    }
}

@media (max-width: 700px) {

    .p {
        font-size: 0%;
    }

    h1 {
        font-size: 2;
    }

    .Title-name {
        display: flex;
    }

    .paragraph {
        max-width: 500px;
    }
    
    .nav__link--anchor-primary {
        color: rgb(199, 199, 255);
        transition: all 200ms ease;
    }
    
    .nav__link--anchor-primary:hover {
        color: black;
    }


    .shorter-text{
        display: none;
    } 

    .short-text{
        display: none;
    }  

    .shorter-text{
        display: none;
    } 

    .text--header {
        display: none;
    }

    nav {
        display: none;
    }

    .nav__link--anchor {
        margin: 1 auto;
        text-decoration: none;
        font-weight: 700;
        margin: 0 10px;
    }

    nav-mobile {
        display: flex;
    }

    .project_container {
        max-width: 300px;
    }
    
    .project {
        display: space-evenly;
        flex-direction: column;
        max-height: fit-content;
    }

    h1 {
        font-size: 20px; 
    }

    .paragraph {
        max-width: 300px;
        font-size: 20px;
    }

    .identifiers {
        flex-direction: column;
        max-width: 250px;
    }

    .message {
        max-width: 300px;
    }
    

}

/* contact page */

.contact_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: auto;
    margin: 50px;    
    padding-bottom: 30px;
}

.input-group{
    margin-bottom: 30px;
}

input, textarea{
    width: 100%;
    padding: 10px;
    outline: 0;
    border: 1px solid #fff;
    background: transparent;
    color: #fff;
    margin: 5px;
    resize: none;
}

form {
    margin-top: 20px;
}

.submit {
    background: transparent;
    color: white;
    font-size: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    border: outset;
}

.submit:hover {
    background: rgb(102, 98, 98);
    transform:  scale(0.95);
}

.identifiers {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 600px;
}

.pixel_art-gif {
    max-width: 100px;
}

input:-webkit-autofill {
    background-color: transparent;
}

